.timeline-editor {
  &-drag-line-container {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }

  &-drag-line {
    width: 0;
    position: absolute;
    top: 0;
    height: 99%;
    border-left: 0.5px solid #009C2C;
    // box-shadow: 0px 0px 0px 0.5px #009C2C;
  }
}
