.timeline-editor {

  &-action {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #c6cbd2;
    display: flex;
    align-items: center;

    &[data-action-drag="true"] {
      box-shadow: 0px 8px 8px rgba(77, 54, 41, 0.08);
      border-radius: 34px;
      cursor: pointer;
    }

    & &-left-stretch,
    & &-right-stretch {
      position: absolute;
      // top: 0;
      // width: 16px;
      // border-radius: 4px;
      // height: 7px;
      // overflow: hidden;

      // &::after {
      //   position: absolute;
      //   top: 0;
      //   bottom: 0;
      //   margin: auto;
      //   border-radius: 4px;
      //   border-top: 28px solid transparent;
      //   border-bottom: 28px solid transparent;
      // }
    }

    & &-left-stretch {
      left: -3px;
      // &::after {
      //   left: 0;
      //   content: "";
      //   border-left: 7px solid rgba(244, 4, 4, 0.202);
      //   border-right: 7px solid transparent;
      // }
    }

    & &-right-stretch {
      right: -3px;
      transform: rotate(180deg);
      // &::after {
      //   right: 0;
      //   content: "";
      //   border-right: 7px solid rgba(244, 4, 4, 0.202);
      //   border-left: 7px solid transparent;
      // }
    }
  }
}
