.timeline-editor {
  &-cursor {
    cursor: ew-resize;
    position: absolute;
    top: 32px;
    height: calc(100% - 32px);
    box-sizing: border-box;
    border-left: 1px solid #5297ff;
    border-right: 1px solid #5297ff;
    transform: translateX(-25%) scaleX(0.5);
    transition: transform 0.2s ease-in-out;

    &-top {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0) scaleX(2);
      margin: auto;
    }

    &-area {
      width: 16px;
      height: 100%;
      cursor: ew-resize;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.timeline-editor.light {
  .timeline-editor-cursor-top {
    transform: unset;
    position: relative;
    left: 0;
  }
  .timeline-editor-cursor {
    // border-color: #111;
    transform: unset;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    border: none;
    
    transform: translate(-50%, 0);
  }
  .timeline-editor-cursor-area {
     position: relative;
     border: none;
     width: 10px;
     background-color: transparent;
     transform: unset;
     left: 0;
     transform: translateX(-5px);
     border-right: 1px solid #111;
  }
}
